In [7]:
import pandas as pd
data = pd.read_csv('/home/kali/Downloads/supermarket_sales - Sheet1.csv')
data.nunique()

Invoice ID                 1000
Branch                        3
City                          3
Customer type                 2
Gender                        2
Product line                  6
Unit price                  943
Quantity                     10
Tax 5%                      990
Total                       990
Date                         89
Time                        506
Payment                       3
cogs                        990
gross margin percentage       1
gross income                990
Rating                       61
dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder
data[['Product line','Branch','City','Customer type','Gender','Payment']] = OrdinalEncoder().fit_transform(data[['Product line','Branch','City','Customer type','Gender','Payment']])
data

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,0.0,2.0,0.0,0.0,3.0,74.69,7,26.1415,548.9715,1/5/2019,13:08,2.0,522.83,4.761905,26.1415,9.1
1,226-31-3081,2.0,1.0,1.0,0.0,0.0,15.28,5,3.8200,80.2200,3/8/2019,10:29,0.0,76.40,4.761905,3.8200,9.6
2,631-41-3108,0.0,2.0,1.0,1.0,4.0,46.33,7,16.2155,340.5255,3/3/2019,13:23,1.0,324.31,4.761905,16.2155,7.4
3,123-19-1176,0.0,2.0,0.0,1.0,3.0,58.22,8,23.2880,489.0480,1/27/2019,20:33,2.0,465.76,4.761905,23.2880,8.4
4,373-73-7910,0.0,2.0,1.0,1.0,5.0,86.31,7,30.2085,634.3785,2/8/2019,10:37,2.0,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,2.0,1.0,1.0,1.0,3.0,40.35,1,2.0175,42.3675,1/29/2019,13:46,2.0,40.35,4.761905,2.0175,6.2
996,303-96-2227,1.0,0.0,1.0,0.0,4.0,97.38,10,48.6900,1022.4900,3/2/2019,17:16,2.0,973.80,4.761905,48.6900,4.4
997,727-02-1313,0.0,2.0,0.0,1.0,2.0,31.84,1,1.5920,33.4320,2/9/2019,13:22,0.0,31.84,4.761905,1.5920,7.7
998,347-56-2442,0.0,2.0,1.0,1.0,4.0,65.82,1,3.2910,69.1110,2/22/2019,15:33,0.0,65.82,4.761905,3.2910,4.1
999,849-09-3807,0.0,2.0,0.0,0.0,1.0,88.34,7,30.9190,649.2990,2/18/2019,13:28,0.0,618.38,4.761905,30.9190,6.6

In [9]:
var = data[['Branch','City','Customer type','Gender','Product line','Unit price','Quantity','Tax 5%']]
tar = data['Total'].astype('float64')

In [11]:
import keras
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB, BernoulliNB ,MultinomialNB
from sklearn.neighbors import KNeighborsClassifier

met = [DecisionTreeClassifier(),RandomForestClassifier(),LogisticRegression(),LinearRegression(),SVC(), GaussianNB(), BernoulliNB() ,MultinomialNB(), KNeighborsClassifier()]
accu = []
def accuracy(x,xt,y,yt):
    for i in met:
        try:
            model = i
            model.fit(x, y)
            pred = model.predict(xt)
            acc = accuracy_score(pred.astype(int), yt.astype(int))
        except:
            acc = 0
        accu.append(acc)
    print(met[accu.index(max(accu))],';',max(accu)])

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (509203323.py, line 22)

In [10]:

from sklearn.model_selection import train_test_split
x,xt,y,yt = train_test_split(var,tar)
accuracy(x,xt,y,yt)

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (acc_check.py, line 22)