In [2]:
import pandas as pd 
data = pd.read_csv('/home/kali/Downloads/3. Police Data.csv')
data.head(1)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [3]:
data.violation.nunique()

6

In [4]:
null = data.isnull().sum()
data.dropna(axis=1,inplace=True,how = 'all')

In [5]:
data.pivot_table(index='driver_gender',columns='search_conducted', values = 'is_arrested',aggfunc='sum',margins=True)

search_conducted  False  True   All
driver_gender
F                   317   147   464
M                   975   821  1796
All                1292   968  2260

In [7]:
data.groupby('violation').get_group('Speeding').driver_gender.value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64