In [3]:
from pandas import read_csv
data = read_csv('/home/kali/Downloads/4. covid_19_data.csv')
data.sample(1)

          Date    State          Region  Confirmed  Deaths  Recovered
238  4/29/2020  Jiangxi  Mainland China        937       1        936

In [4]:
coun = data.groupby('Region').sum()

remove all region where confirmed is less than 10

In [20]:
filtered = coun[coun.Confirmed > 10]
filtered

                    Confirmed  Deaths  Recovered
Region
Afghanistan              1939      60        252
Albania                   766      30        455
Algeria                  3848     444       1702
Andorra                   743      42        423
Angola                     27       2          7
...                       ...     ...        ...
Venezuela                 331      10        142
Vietnam                   270       0        222
West Bank and Gaza        344       2         71
Zambia                     97       3         54
Zimbabwe                   32       4          5

[177 rows x 3 columns]

region with maximum cofirmed cases

In [6]:
filtered.sort_values('Confirmed',ascending=False).iloc[0]

Confirmed    1039909
Deaths         60967
Recovered     120720
Name: US, dtype: int64

region with minimum case

In [7]:
filtered.sort_values('Confirmed').iloc[0]

Confirmed    11
Deaths        1
Recovered     4
Name: Burundi, dtype: int64

how many confirmed cases ,death recovered case in india till29 april

In [8]:
data.sample(1)

         Date State    Region  Confirmed  Deaths  Recovered
29  4/29/2020   NaN  Cambodia        122       0        119

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       321 non-null    object
 1   State      140 non-null    object
 2   Region     321 non-null    object
 3   Confirmed  321 non-null    int64
 4   Deaths     321 non-null    int64
 5   Recovered  321 non-null    int64
dtypes: int64(3), object(3)
memory usage: 15.2+ KB

sort data with ascending order of confirmed cases

In [10]:
import pandas as pd 
data['Date'] = pd.to_datetime(data.Date)

          Date     State          Region  ...  Deaths  Recovered        day
0   2020-04-29       NaN     Afghanistan  ...      60        252  Wednesday
1   2020-04-29       NaN         Albania  ...      30        455  Wednesday
2   2020-04-29       NaN         Algeria  ...     444       1702  Wednesday
3   2020-04-29       NaN         Andorra  ...      42        423  Wednesday
4   2020-04-29       NaN          Angola  ...       2          7  Wednesday
..         ...       ...             ...  ...     ...        ...        ...
316 2020-04-29   Wyoming              US  ...       7          0  Wednesday
317 2020-04-29  Xinjiang  Mainland China  ...       3         73  Wednesday
318 2020-04-29     Yukon          Canada  ...       0          0  Wednesday
319 2020-04-29    Yunnan  Mainland China  ...       2        181  Wednesday
320 2020-04-29  Zhejiang  Mainland China  ...       1       1263  Wednesday

[321 rows x 7 columns]

1

sort data with confirmed cases in desending order

In [19]:
filtered.sort_values("Confirmed")

                       Confirmed  Deaths  Recovered
Region
Burundi                       11       1          4
Seychelles                    11       0          6
Nicaragua                     13       3          7
Saint Kitts and Nevis         15       0          4
Dominica                      16       0         13
...                          ...     ...        ...
UK                        166441   26166        857
France                    166543   24121      49118
Italy                     203591   27682      71252
Spain                     236899   24275     132929
US                       1039909   60967     120720

[177 rows x 3 columns]