In [67]:
import pandas as pd
import datetime as dt 
url = 'https://merolagani.com/LatestMarket.aspx'
data = pd.read_html(url)
data[0].sample(1)

    Symbol    LTP  % Change   Open  ...  PClose  Diff.  Unnamed: 9  Unnamed: 10
167   RIDI  458.0     -2.55  475.0  ...     NaN    NaN         NaN          NaN

[1 rows x 11 columns]

In [71]:
stock = data[0] 
col = stock.columns
stock = stock[col[0:7]]
da = dt.date.today()
stock.to_csv(str(da)+'stock.csv')